<section>
  <article ng-repeat="r in products.slice().reverse()">
    <form name="{{r.name}}" ng-submit="submitForm(r.id)">
      <header>
        <h1>{{r.name}}</h1>
      </header>
      <p>剩余数量：{{r.count}}</p>
      <p>限购数量：{{r.purchaseLimit}}</p>

      <p>活动时间：{{r.secKillStart}} - {{r.secKillEnd}}</p>

      <p>剩余时间：{{r.remainTime}}</p>
      <p>{{r.msg}}</p>

      <div class="actions">
        <button ng-class="{true: 'btn-enable', false: 'btn-disable'}[r.isCanSecKill]">{{r.btn}}</button>
      </div>
    </form>
  </article>
</section>
