<section>
  <form name="form" ng-submit="register()">
    <fieldset>
      <legend>注册</legend>

      <div class="form-group">
        <label>邮箱</label>
        <input name="email" type="text" ng-model="user.email">
      </div>

      <div class="form-group">
        <label>密码</label>
        <input name="password" type="password" ng-model="user.password">
      </div>

      <div class="actions">
        <label></label>
        <button>注册</button>
      </div>
    </fieldset>
  </form>
</section>
